.inputContent{
  height: auto;
  position: relative;
  padding-bottom: 50px;

}

.inputBox{
  padding: 50px;
  height: auto;
  text-align: center;

}
.inputBox button{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 17px;
}
.enteranceHead{
  width: 100%;
  height: auto;
  text-align: center;
  color: #404040;
}

.enteranceFooter{
  height: 50px;
  width: 100%;
  color: white;
  line-height: 50px;
  position: absolute;
  bottom: 0;
}
