*{
  margin: 0 auto;
}

html{
  height: 100%;
}

body{

  height:100%;

}

/*sidebar*/
.sidebar{
  position: fixed;
  left: 0;
  height: 100vh;
  width: 13%;
  background: white;
  z-index: 1000;
  box-shadow: -3px 0px 5px 0 rgba(0, 0, 0, 0.16);
}

.answerDiscription{
  padding: 20px 0px 20px 20px;
  font-weight: bold;
}
.answerList ol{
  padding-right: 20px;
}
.answerList li{
    border-bottom: 1px solid rgba(94, 94, 94, 0.3);;
}

/*sidebar end*/

.container-fluid{
  min-height:100%;
  position:relative;

}

/*main content*/
.mainContent{
  height: auto;

  }
/*main content end*/


/*code academy logo*/
.codeLogo{
  height: auto;
  width: auto;
}

.brand-logo img{
  transform: translateY(25%);
}
/*code academy logo end*/


/*submit button*/
.submitDiv{
  text-align: center;
}
.submitDiv button{
  width: 200px;
  height: 50px;
  margin-bottom: 160px;
}
/*submit button end*/

/*question card*/
.card-image img{
  padding: 20px 0px;
}


/*question card end*/

/*question itselft*/

.question{
  font-size: 18px;
}

/*question end*/

/*footer*/

.footer{
  height: 150px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;

}

.page-footer{

}


/*footer end*/
.resultTable{
  margin-top: 20px;
  padding: 30px;
}

/*Results*/
.result td{
  padding: 0;
}
.result{

}
