*{
  margin: 0 auto;
}

html{
  height: 100%;
}

body{
  height:100%;
  background: #FCFCFC;
}

/*sidebar*/
.sidebar{
  height: 100vh;
  width: 45px;
  margin: 0 !important;
  z-index: 5;
  background: #009688;
  position: fixed;
  left: 0;
  color: white;
  transition: 0.5s all ease;
}
.navigationNumber{
  color: white;
}

.navNextButton{
  height: 60px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  background: #F44336;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  cursor: pointer;
  transition: 0.5s all ease;
}

.userNameSurname{
  transform: translateY(-140%);
}

.navNextButton img{
  transition: 0.5s all ease;
  width: 20px;
  transform: rotate(180deg);
}

.answerDiscription{
  padding: 20px 0px 20px 20px;
  font-weight: bold;
}
.answerList ol{
  padding-right: 20px;
}
.answerList li{
    border-bottom: 1px solid rgba(94, 94, 94, 0.3);;
}

/*sidebar end*/

.container-fluid{
  min-height:100%;
  position:relative;

}

/*main content*/
.mainContent{
  height: auto;

  }
/*main content end*/


/*code academy logo*/
.codeLogo{
  height: 64px;
  width: 200px;
  float: left;
}


/*code academy logo end*/


/*submit button*/
.submitDiv{
  text-align: center;
}
.submitDiv button{
  width: 200px;
  height: 50px;
  margin-bottom: 160px;
}
/*submit button end*/

/*question card*/
.card-image img{
  padding: 20px 0px;

}


/*question card end*/

/*question itselft*/

.question{
  font-size: 18px;
}

/*question end*/

/*footer*/

.footer{
  height: 150px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;

}

.page-footer{

}


/*footer end*/
.resultTable{
  margin-top: 20px;
  padding: 30px;
}

/*Results*/
.result td{
  padding: 0;
}
.result{

}
